<!DOCTYPE html>
<html lang="en" ng-app="Angello">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.0/css/bootstrap-combined.min.css" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="app.css"/>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular.min.js"></script>
    <script src="app.js"></script>
</head>
<body>
    <div ng-controller="MainCtrl">
        <div class="span4 sidebar-content">
          <h2>Stories</h2>
          <div class="story" ng-repeat="story in stories" ng-click="setCurrentStory(story)">
            <h4>{{story.title}}</h4>
            <p>{{story.description}}</p>
          </div>
        </div>

        <div class="span6 body-content">
          <h2>Story</h2>
          <form class="form-horizontal">
            <div class="control-group">
              <label class="control-label" for="inputTitle">Title</label>
              <div class="controls">
                <input type="text"
                  placeholder="Title"
                  ng-model="currentStory.title">
              </div>
            </div>
            <div class="control-group">
              <label class="control-label"
                for="inputDescription">Description</label>
              <div class="controls">
                <textarea id="inputDescription"
                  placeholder="Description"
                  rows="3"
                  ng-model="currentStory.description">
                </textarea>
              </div>
            </div>
          </form>
        </div>
    </div>
</body>
</html>